.Cart {
	position: absolute;
	top: 0;
	bottom: 0;
	right:0;
	width: 350px;
	background: white;
	padding: 20px 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	>span {
		cursor: pointer;
	}
	.Cart_line-item {
		display: flex;
		align-items: center;
		padding: 12px 0;
		border-bottom: 1px solid rgba(0,0,0,0.2);
		&:last-of-type {
			border-bottom: none;
		}
		img {
			width: 80px;
			margin-right: 10px;
		}
		span {
			display: block;
			font-size: 13px;
			margin-bottom: 2px;
			&:first-of-type {
				font-weight: bold;
				margin-bottom: 4px;
				font-size: 16px;
			}
		}
	}
	.Cart_actions {
		display: flex;
		justify-content: space-between;
		padding-top: 20px;
		span {
			cursor: pointer;
		}
	}
}

.Cart_open {
	position: fixed;
	top: 20px;
	right: 20px;
	cursor: pointer;
}